* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

header {
margin: 44px 0 144px 76px;
}

.link-header{
font-size: 24px;
font-weight: 600;
line-height: 29px;
color: #989D9C;
cursor: pointer;
margin-right: 23px;
}

.button-header {
width: 130px;
height: 41px;
border-radius: 20.5px;
background: #665AE1;
border: none;
font-size: 24px;
font-weight: 600;
line-height: 29px;
color:#FFFFFF;
cursor: pointer;
}    


.image-main {
width: 568px;
height: 500px;
margin-left: 125px;
display: inline-block;
}

section {
display: inline-block;
margin-left: 86px;
}

h1{
font-size: 100px;
font-weight: 900;
line-height: 122px;
color: #515151;

}

h2{
font-size: 58px;
font-weight: 500;
line-height: 71px;
color: #515151;

}

p{
font-size: 24px;
font-weight: 400;
line-height: 29px;
color: #848484;
width: 515px;
margin-top: 32px;
margin-bottom: 65px;

}

.button-main {
width: 239px;
height: 64px;
border-radius: 30px;
background: #ADFF00;
font-size: 28px;
font-weight: 700;
line-height: 34px;
color: #000000;
border: none;
cursor: pointer;
box-shadow: 0px 4px 4px 0px #00000040;

}

@media screen and (max-width: 800px){
   header {
    display: none;
   }

   p {
    display: none;
   }

   .image-main {
    display: block;
    width: 354px;
    height: 317px;
    padding: 0;
    margin: 149px 22px 0 14px;
   }

   h1 {
    font-size: 50px;
    line-height: 61px;
    width: 263px;
    height: 52px;
    margin: 24px 0 0 -25px;
   }

   h2 {
    font-size: 30px;
    line-height: 27px;
    margin-top: 10px; 
    margin-left: -15px;
   }

   .button-main {
    margin: 17px 4px 0 -20px ;
    display: block;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    }    
}